// 리뷰 상세보기 박스 컴포넌트 디자인
@import '../root.scss';

.r-container {
  margin: 0.25rem 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-box {
  height: auto;
  border: 1.5px solid $main-blue;
  border-radius: 8px;
  padding: 20px;
}

.r-info {
  padding: 1.25rem;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.r-poster {
  width: 100px;
  height: auto;
}

.r-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.r-title {
  font-size: 22px;
  font-weight: 700;
  padding: 14px 0;
  text-align: right;
}

.r-date {
  color: $sub-gray;
  text-align: right;
}

.r-body {
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .r-container {
    margin: 0;
  }
  .r-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .r-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .r-title {
    text-align: left;
  }
}
