// 리뷰 박스 디자인

@import '../root.scss';

.main-box {
  border: 1.5px solid $main-blue;
  border-radius: 8px;
  padding: 1rem;
  width: 18.75rem;
  height: 12.5rem; // 카드의 높이 설정
  flex: 0 0 auto; // Flex 아이템으로 고정 너비 유지
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-movie-title {
  font-size: 0.875rem;
}
.main-post-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.main-author {
  color: $sub-gray;
  font-size: 0.875rem;
}

.main-movie-title,
.main-post-title,
.main-author {
  margin: 0.5rem;
}
