// 카카오 로그인 버튼 디자인
@import '../root.scss';

.kakao-login {
  font-size: 1.125rem;
  background-color: $KAKAO;
  color: $sub-white;
  border: none;
  border-radius: 8px;
  padding: 1.25rem;
  margin: 16px 0;
  width: 18.75rem;
  cursor: pointer;
}
