// 네이버 로그인 버튼 디자인
@import '../root.scss';

.naver-login {
  font-size: 1.125rem;
  background-color: transparent;
  color: $NAVER;
  border: 1.5px solid $NAVER;
  border-radius: 8px;
  padding: 1.25rem;
  margin: 16px 0;
  width: 43%;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 86%;
  }
}
